<div class="container">

    <h1 *ngIf="!getparamid">Create Users</h1>
    <h1 *ngIf="getparamid">Update Users</h1>

    <div  *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong >{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    
      <div *ngIf="successmsg" class="alert alert-success  alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<div class="form">
    <form   [formGroup]="userForm">
        <div >
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Full Name">
        </div>

        <div >
            <input type="text" class="form-control" formControlName="email"  placeholder="Email">
        </div>

        <div class="button" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary btn-sm" >Create</button>
        </div>
        <div class="button" *ngIf="getparamid" (click)="userUpdate()">
            <button class="btn btn-dark btn-sm">Update</button>
        </div>
    </form>
</div>

</div>
