.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.form input{
    width:400px;
    margin-top: 10px;
}
.container h1{
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
}
.alert{
    width:100%;
}
.form button{
    margin-top: 10px;

}
.form .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

    
